@charset "utf-8";
/* CSS Document */

#dialog{
  position:absolute;
  /*border: 1px solid #003;*/
  width: 320px;
  z-index: 99;
}
#dialog-wrapper, .dialog-wrapper{
  border: 12px solid rgba(150, 150, 150, 0.7);
  border-radius: 8px;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  /*margin: 0 auto;*/
  width: 320px;
}
#dialog h1{
/* background-color:#2C8FDA;  AZUL*/
/* background-color:#009833;* verde*/
	font-size:10px;
	font-weight:normal;
  background:#1c244a;
  border: 1px solid #666;
  border-bottom: 0;
  color: white;  
  padding: 5px 10px;
}

#dialog-content{
  background-color: white;
  border: 1px solid #666;
  border-width: 0 1px 1px;
  padding: 10px;
}

#dialog-content p{
  margin-bottom: 10px;
}

#dialog-footer{
  background: #e8ebef;
  border: 1px solid #666;
  border-top: 0;
  padding: 10px;
  text-align: right;  
}

/*POPUP*/

#popup{
  position:relative;
  /*border: 1px solid #003;*/
  width: 480px;
  z-index: 99999;
}
#popup-wrapper{
  border: 12px solid rgba(150, 150, 150, 0.7);
  border-radius: 8px;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  /*margin: 0 auto;*/
  width: 480px;
}
#popup-wrapper h1{
/* background-color:#2C8FDA;  AZUL*/
/* background-color:#009833;* verde*/
	font-size:10px;
	font-weight:normal;
  background:#1c244a;
  border: 1px solid #666;
  border-bottom: 0;
  color: white;  
  padding: 5px 10px;
}

#popup-content{
  background-color: white;
  border: 1px solid #666;
  border-width: 0 1px 1px;
  padding: 10px;
}

#popup-content p{
  margin-bottom: 10px;
}

#popup-footer{
  background: #e8ebef;
  border: 1px solid #666;
  border-top: 0;
  padding: 10px;
  text-align: right;  
}


/*BOTON*/

.awesome{
background: #222;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px #999;
-webkit-box-shadow: 0 1px 3px #999;
/*text-shadow: 0 -1px 1px #222;*/
/*border-bottom: 1px solid #222;*/
position: relative;
cursor: pointer;
}

.small.awesome {
font-size: 11px;
}
.blue.awesome {
 /*background-color: #2C8FDA;*/
 /*background-color:#009833;*/
 background:#1c244a;
}



/* footer*/

.foot-dialog{
  position:absolute;
  /*border: 1px solid #003;*/
  width: 320px;
  z-index: 99;
}
.foot-dialog-wrapper{
  border: 12px solid rgba(150, 150, 150, 0.7);
  border-radius: 8px;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  /*margin: 0 auto;*/
  width: 320px;
}
.foot-dialog h1{
/* background-color:#2C8FDA;  AZUL*/
/* background-color:#009833;* verde*/
	font-size:10px;
	font-weight:normal;
  background:#1c244a;
  border: 1px solid #666;
  border-bottom: 0;
  color: white;  
  padding: 5px 10px;
}

.foot-dialog-content{
  background-color: white;
  border: 1px solid #666;
  border-width: 0 1px 1px;
  padding: 10px;
}

.foot-dialog-content p{
  margin-bottom: 10px;
}

.foot-dialog-footer{
  background: #e8ebef;
  border: 1px solid #666;
  border-top: 0;
  padding: 10px;
  text-align: right;  
}
   